* {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #a56b22;
    --yellow: #bf8d2c;
    --light-grey: #596682;
    --dark-grey: #43506c;
    --light-blue: #213154;
    --blue: #19254f;
    --deep-blue: #101b40;
    --grey-text: #aaafc3;

    --fs-xl: 2.5rem;
    --fs-600: 1.5rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;

    --f-main: 'Mulish', sans-serif;
    --f-headers: 'Arvo', serif;

    --nav-link-height: 2rem;
    --scroll-spacing: calc(100vh / 4);
}

header {
    position:fixed;
    top: 0;
    height: 3rem;
    width: 100vw;
    z-index: 5;
}

.logo_container {
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    font-size: var(--fs-500);
    height: 3rem;
    
}

.logo {
    padding: .5rem;
    font-weight: 800;
    font-size: 1.7rem;
    flex-grow: 2;
    color: var(--deep-blue);
    font-family: var(--f-headers);
}

.drop-menu {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -6.7rem;
    transition: transform 1s ease-out ;
    z-index: 2;
}

.down {
    transform: translateY(9.6rem);
    transition: transform 1s ease-out, top 1s ;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: var(--dark-grey);
}

.nav-link {
    padding: .2rem;
    text-decoration: none;
    color: var(--grey-text);
    font-family: var(--f-headers);
    height: var(--nav-link-height);
}

.bottom-nav {
    height: .5rem;
}

.drop_button {
    display: block;
    margin: 0 auto;
    height: 1.7rem;
    width: 4rem;
    border-radius: 0% 0% 200% 200%;
    background-color: var(--dark-grey);
}

.nav-link:hover {
    background-color: #bf8d2c;
    border-radius: 20px;
}

.wrapper {
    /* background: linear-gradient(white,white, #596682, #213154, #19254f, #101b40); */
    background: linear-gradient(#1F214D 20%,#50366F,#BF3475,#EE6C45,#FFCE61,#FFE58A,gold, #FFDF01);
    z-index: -1;
    font-size: var(--fs-500);
}

.bg-img {
    height: 100vh;
    background-image: url(img/background5.png);
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top:0;
}

.scroll {
    position: relative;
    top: -70vh;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: var(--scroll-spacing);
}

.main_header {
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    font-size: var(--fs-xl);
    color:var(--blue);
    text-align: center;
    font-family: var(--f-headers);
}

.main_text {
    background-color: rgba(255,255,255,0.5);
    padding: .5rem;
    margin: 0 10% 0 10%;
    text-align: center;
    border-radius: 10px;
    color: var(--deep-blue);
    font-family: var(--f-main);
}

.general_info {
    padding: .5rem;
    color: var(--grey-text);
    background-color: #18244e;
    font-size: var(--fs-500);
    font-family: var(--f-main);
}

.left,
.right {
    width: 40%;
    color: var(--orange);
    margin-top: .5rem;
    padding: .5rem .5rem;
    font-family: 'Courgette', cursive;
}

.left {    
    margin-right: 1rem;
    float: left;
    box-shadow: inset -5px 0 var(--yellow);
    
}

.right {    
    margin-left: 1rem;
    float: right;
    box-shadow: inset 5px 0 var(--yellow);
}