* {
    margin: 0;
    padding: 0;
}

:root {
    --orange: #a56b22;
    --yellow: #bf8d2c;
    --light-grey: #596682;
    --dark-grey: #43506c;
    --light-blue: #213154;
    --blue: #19254f;
    --deep-blue: #101b40;
    --grey-text: #aaafc3;

    --my-gradient: linear-gradient(#50366F,#BF3475,#EE6C45,#FFCE61,gold, #FFE58A);

    --fs-125: 1.25em;
    --fs-150: 1.5em;
    --fs-170: 1.7em;
    --fs-200: 2em;

    --ff-main: 'Mulish', sans-serif;
    --ff-headers: 'Arvo', serif;
    --ff-emphasis: 'Courgette', cursive;

    --scroll-spacing: calc(100vh / 4);
}

body {
    font-size: var(--fs-125);
}

header {
    position:fixed;
    top: 0;
    height: 3rem;
    width: 100vw;
    z-index: 5;
}

.logo_container {
    position: fixed;
    top:0;
    width: 100%;
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 4;
    height: 3rem;    
}

.logo {
    padding: .5rem;
    font-weight: bold;
    font-size: var(--fs-125);
    color: var(--deep-blue);
    font-family: var(--ff-headers);
}

.drop-menu {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: -10rem;
    transition: transform 1s ease-out ;
    z-index: 2;
}

.down {
    transform: translateY(13rem);
    transition: transform 1s ease-out, top 1s ;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    background-color: var(--dark-grey);
}

.nav-link {
    margin: .5rem;
    padding: .4rem 1rem;
    text-decoration: none;
    color: var(--grey-text);
    font-family: var(--ff-headers);
}

.bottom-nav {
    height: .5rem;
}

.drop_button {
    display: block;
    margin: 0 auto;
    height: 1.7rem;
    width: 4rem;
    border-radius: 0% 0% 200% 200%;
    background-color: var(--dark-grey);
}

.nav-link:hover {
    background-color: var(--grey-text);
    color: #101b40;
    font-weight: 700;
}

.menu a:nth-child(2n+1) {
    border-radius: 30px 30px 5px 5px;
}
.menu a:nth-child(2n+2) {
    border-radius: 5px 5px 30px 30px;
}

.wrapper {
    background: var(--my-gradient);
    z-index: -1;
}

.bg-img {
    height: 100vh;
    background-image: url(img/background5.png);
    background-size: cover;
    background-attachment: fixed;
    position: sticky;
    top:0;
}

.scroll {
    position: relative;
    top: -70vh;
    display: flex;
    flex-direction: column;
    gap: var(--scroll-spacing);
}

.main_header {
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;
    color:var(--blue);
    text-align: center;
    font-family: var(--ff-headers);
    text-shadow: 0 0 10px white;
}

.poem,
.author {
    background-color: rgba(255,255,255,0.5);
    padding: .5rem;
    margin: 0 10% 0 10%;
    text-align: center;
    border-radius: 10px;
    color: var(--deep-blue);
    font-family: var(--ff-main);
}

.author {
    margin: 0 20% 0 20%;
}

.general_info {
    padding: 1rem;
    color: var(--grey-text);
    background-color: #18244e;
    font-family: var(--ff-main);
}

h2 {
    padding: .5rem;
    text-align: center;
}

.left {
    margin: 0 auto;
}

.right {
    float: right;
    box-shadow: inset 5px 0 var(--yellow);
    margin: .5rem 0 .5rem 1rem;
    padding: .5rem;
    padding-left: 1rem;
    width: 40%;
    color: var(--orane);    
    font-family: var(--ff-emphasis);
}

.right a {
    text-decoration: none;
    color: white;
}

.right a:hover {
    text-decoration: underline;
    color: var(--yellow);
}
.portrait {
    display: block;
    margin: auto;
    width: 150px;
    padding: .5rem;
}

.general_info > p {
    padding: .5rem 0;
}

.general_info > p::first-letter {
    color:var(--orange);
    font-weight:700;
    font-family: var(--ff-emphasis);
    padding-left: 1rem;
}

footer {
    padding: .5em;
    background-color: var(--deep-blue);
    color: var(--grey-text);
    font-family: var(--ff-main);
}

footer a {
    text-decoration: none;
    color: var(--orange);
    font-family: var(--ff-emphasis);
}

footer a:hover {
    text-decoration: underline;
}

@media(min-width: 500px){
    .portrait{
        display: inline-block;
    }
    .left{
        float: left;
    }
}

@media (min-width: 650px){
    body{
        font-size: var(--fs-150);
    }
    header{        
        background-color: var(--dark-grey);
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .logo_container{
        position: static;
        width: auto;
        height: auto;
    }
    .logo{
        align-self:baseline;
    }
    .drop-menu {
        margin: 0;
        width: auto;
        position: static;
    }
    .menu{
        margin-right: 1em;
        display: block;
        display: flex;
        flex-direction: row;
    }
    .nav-link{
        text-align: center;
    }
    .bottom-nav{
        display: none;
    }
    .menu a:nth-child(2n+1) {
        border-radius: 30px 30px 5px;
    }
    .menu a:nth-child(2n+2) {
        border-radius: 30px 30px 30px 5px;
    }
}
@media(min-width: 900px){
    .wrapper{
        font-size: var(--fs-125);
    }
    .general_info {
        padding: 0 10%;
    }
}

@media (min-width: 1200px){
    header{
        justify-content: space-between;
        font-size: var(--fs-125);
    }
    .wrapper{
        font-size: var(--fs-150);
    }
    .poem {
        margin: 0 15% 0 15%;
    }
    .author{
        margin: 0 25% 0 25%;
    }
    .portrait{
        width: 200px;
    }
}

@media (min-width: 1600px){
    body{
        font-size: var(--fs-170);
    }
    .poem {
        margin: 0 20% 0 20%;
    }
    .author{
        margin: 0 30% 0 30%;
    }
}

@media (min-width: 2300px){
    body{
        font-size: var(--fs-200);
    }
    .poem {
        margin: 0 25% 0 25%;
    }
    .author{
        margin: 0 35% 0 35%;
    }
}